@import url('https://cdn.rawgit.com/mirazmac/bengali-webfont-cdn/master/solaimanlipi/style.css');
body{
    font-family: 'SolaimanLipi', serif;
}
.nav-link{
    color: #D8203B !important;
    font-weight: bold;
}
.nav-link:hover{
    color: #D8203B !important;
    text-decoration: underline;
}

.card-header{
    background-color: #D8203B;
    color: #fff;
}

.rokto-logo{
    max-width: 150px;
}

.input_item  input {
    margin-bottom: 10px;
    font-family: 'SolaimanLipi', serif;
}
.input_item select option{
    font-family: 'SolaimanLipi', serif;
    font-size: 14px;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: inline-block;
    padding: 0 10px;
    width: auto;
    font-size: 20px;
}

.custom-control.custom-radio{
    width: 50%;
    float: left;
    overflow: hidden;
}
